@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.modal {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  @include flex(row, center, center);
}

.friend-split {
  width: 80vw;
  height: 70vh;
  background-color: $background-color;
  padding: 0 $margin-mobile;

  &__list {
    @include flex(row, space-between, center);
  }
}
