@use "../../styles/partials/variables" as *;
@use "../../styles/partials/typography" as *;
@use "../../styles/partials/mixins" as *;

.create-bill-wrapper {
  height: 90vh;
}

.create-bill {
  height: 90vh;
  @include flex(column, space-between, stretch);

  &__header {
    margin-bottom: $spacing-between-elements;
  }

  &__input {
    margin-top: $padding-increment;
  }

  &__input::placeholder {
    padding: $padding-increment;
  }
}
